* {
    font-family: 'Verdana', sans-serif;
    outline: 2px solid red;
}

.main-page-title {
    color: white;
    text-align: center;
    background-color: black;    
}

.main-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: auto;
}

.title {
    color: white;
    text-align: center;
    background-color: black;
}

p {
    text-align: center;
}